.budgetsCrudler {
  width: 100%;
}

.budgetsCards {
  width: 100%;
}

.contentArea {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mainSection {
  flex: 1;
  min-width: 0;
}

.sideSection {
  width: fit-content;
  flex-shrink: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.budgetsCards > p {
  font-size: 0.9rem;
  color: #a3a3a3;
  padding: 24px 0;
}