.budgetsCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.addButton {
  margin: 10px;
  margin-right: auto;
}
.topBar {
  display: flex;
  margin-left: right;
  
}
.sorters {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-size: 13px;
}

.icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  /* min-width: 30px;
  max-width: 30px; */
  flex-shrink: 0;
}

.iconOutline {
  display: flex;
  align-items: center;
  border: 1px solid #a3a3a3;
  position: relative;
  border-radius: 30px;
  padding: 15px;
  height: 55px;
}
.reset {
  color: #a3a3a3;
}

@media (max-width: 700px) {
  .budgetsCardContainer {
    grid-template-columns: 1fr;
  }
}
