.budgetsCrudler {
  width: 100%;
}

.budgetsCards {
  width: 100%;
}
.contentArea {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mainSection {
  flex: 1;
  min-width: 0;
}

.sideSection {
  width: 400px;

}
.budgetsCards > p {
  font-size: 0.9rem;
  color: #a3a3a3;
  padding: 24px 0;
}
.addButton {
  margin-left: center;
  padding: 10px;
  margin: 10px;
  gap: 10px;
}
.topBar {
  margin-left: auto;
}
.sorters {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  /* min-width: 30px;
  max-width: 30px; */
  flex-shrink: 0;
}

.iconOutline {
  border: 1px solid #a3a3a3;
  position: relative;
  border-radius: 25px;
  padding: 15px;
  height: 55px;
}
.reset {
  color: #a3a3a3;
}
