footer {
  height: 50px;
  display: grid;
  place-items: center;
  border-top: 1px solid #afd1b0;
  background-color: #afd1b0;
}

footer a {
  font-size: 70%;
  text-decoration: none;
  color: white;
}
