nav {
  display: flex;
  overflow: hidden;
  background-color: #afd1b0;
  font-family: "Jersey10", sans-serif;
  font-size: 30px;
}
img {
  /* padding: 5px; */
}
nav div.navItem {
  padding: 10px;
}
nav div.navItem:hover {
  background-color: rgb(158, 193, 151);
}
nav div.navItem a {
  color: white;
  text-decoration: none;
}
nav div.navItem a.navSelected {
  color: #447445;
}
