.TransactionCrudler {
  padding: 20px;
  background-color: rgba(175, 209, 176, 0.36);
  border: 1px solid #afd1b0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px var(--shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;

}
