/* .transactionBox {
  padding: 20px;
  background-color: rgba(175, 209, 176, 0.36);
  border: 1px solid #afd1b0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px var(--shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
} */

.transactionTable {
  width: calc(100% - 250px);
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}

thead {
  color: var(--text-primary);
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

th,
td {
  padding: 12px 15px;
  border: 1px solid var(--border-color);
  transition: border-color 0.3s ease;
}

tbody tr:hover {
  background-color: #afd1b0;
  cursor: pointer;
}

button {
  background-color: #afd1b0;
  border: 1px solid #afd1b0;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  padding: 8px;
  font-weight: bold;
  margin: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
