.transactionTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}

.transactionBox {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thick;
  scrollbar-color: #afd1b0 rgba(175, 209, 176, 0.2);
}

.transactionTable thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(175, 209, 176, 0.4);
  backdrop-filter: blur(6px);
  
}

thead {
  color: var(--text-primary);
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid var(--border-color);
  transition: border-color 0.3s ease;
}

tbody tr:hover {
  background-color: #afd1b0;
  cursor: pointer;
}

button {
  background-color: #afd1b0;
  border: 1px solid #afd1b0;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  padding: 8px;
  font-weight: bold;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
