.taskTable {
  width: calc(100% - 250px);
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: pink;
  background-color: pink;
  box-shadow: 0 0 10px var(--shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
}

thead {
  background-color: pink;
  color: var(--text-primary);
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid var(--border-color);
  transition: border-color 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: pink;
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: pink;
  cursor: pointer;
}
