* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* background-color: #FFEBDE; */
}
@font-face {
  font-family: "Jersey10";
  src: url("components/assets/fonts/Jersey10-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PixelifySans";
  src: url("components/assets/fonts/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
}

h1,
h2 {
  font-family: "Jersey10", sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
}
/* p {
  font-family: "PixelifySans", sans-serif;
} */
