* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* background-color: #FFEBDE; */
}
@font-face {
  font-family: "Jersey10";
  src: url("components/assets/fonts/Jersey10-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LufgaRegular";
  src: url("components/assets/fonts/LufgaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "LufgaMedium";
  src: url("components/assets/fonts/LufgaMedium.ttf") format("truetype");
}
@font-face {
  font-family: "PixelifySans";
  src: url("components/assets/fonts/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
}

h1,
h2,
h3,
thead,
button {
  font-family: "Jersey10", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3,
thead,
button {
  font-size: 20px;
}
p {
  font-family: "LufgaRegular", sans-serif;
}

button {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  padding: 15px;
  /* gap: 10px; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button:hover {
  box-shadow: 2px 2px 2px 2px 0 #b7d4b3;
  transform: translateY(-3px);
  transition: transform 0.2s ease;
}
.ActionTray {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
